/*Fonts*/
@font-face {
  font-family: "BarlowSemiCondensed-Bold";
  src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
  font-family: "BarlowSemiCondensed-Medium";
  src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
  font-family: "BarlowSemiCondensed-Light";
  src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

:root {
  --gold-500: hsl(39, 89%, 49%);
  --gold-600: hsl(28, 76%, 44%);
  --blue-500: hsl(230, 89%, 62%);
  --blue-700: hsl(229, 64%, 46%);
  --red-600: hsl(349, 71%, 52%);
  --red-800: hsl(347, 75%, 35%);
  --purple-700: hsl(261, 73%, 60%);
  --purple-800: hsl(261, 51%, 44%);
  --light-blue-400: hsl(189, 59%, 53%);
  --light-blue-500: hsl(194, 58%, 42%);
  --navy-900-dark-text: hsl(229, 25%, 31%);
  --blue-700-score-text: hsl(229, 64%, 46%);
  --gray-600-header-outline: hsl(246, 11%, 37%);
  --white-color: hsl(0, 0%, 100%);
  --font-barlow-bold: "BarlowSemiCondensed-Bold";
  --font-barlow-medium: "BarlowSemiCondensed-Medium";
  --font-barlow-light: "BarlowSemiCondensed-Light";
  --bg-radial-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 48%, 15%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

body {
  background-image: var(--bg-radial-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 375px;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--gray-600-header-outline);
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  align-self: center;
}

.header__logo {
  width: 25%;
  min-width: 90px;
  max-width: 140px;
}

.logo__hero {
  width: 100%;
  object-fit: cover;
}

.header__counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  gap: 1vh;
}

.counter__item {
  text-align: center;
  background-color: var(--white-color);
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 10px;
}

.item__span {
  font-size: 1rem;
  font-family: var(--font-barlow-bold);
  color: var(--blue-700-score-text);
}

.item__p {
  color: var(--navy-900-dark-text);
  font-family: var(--font-barlow-bold);
  font-size: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  max-width: 700px;
  align-self: center;
  padding: 1rem;
}

.main__select {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  gap: 5dvh;
  max-width: 500px;
  align-self: center;
}

.select__wrap {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  max-width: 40%;
  max-height: 40%;
}

.wrap__img {
  width: 50px;
  object-fit: cover;
}

.wrap__blue {
  border: 0.8rem solid var(--blue-500);
  box-shadow: 0px 1rem 1px var(--blue-700);
  transition: all 250ms ease-in-out;
}

.wrap__blue:hover {
  box-shadow: 0px 0.5rem 1px var(--blue-700);
}

.wrap__yellow {
  border: 0.8rem solid var(--gold-500);
  box-shadow: 0px 1rem 1px var(--gold-600);
  transition: all 250ms ease-in-out;
}

.wrap__yellow:hover {
  box-shadow: 0px 0.5rem 1px var(--gold-600);
}

.wrap__red {
  border: 0.8rem solid var(--red-600);
  box-shadow: 0px 1rem 1px var(--red-800);
  transition: all 250ms ease-in-out;
}

.wrap__red:hover {
  box-shadow: 0px 0.5rem 1px var(--red-800);
}

.main__result {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vh;
}

.result__wrap {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  max-width: 40%;
  max-height: 40%;
}

.result__wrap:nth-of-type(1) {
  order: 1;
}

.result__wrap:nth-of-type(2) {
  order: 2;
}

.result__again {
  margin-top: 6rem;
  order: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  align-self: center;
}

.again__message {
  font-family: var(--font-barlow-bold);
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--white-color);
}

.again__btn {
  font-family: var(--font-barlow-bold);
  color: var(--white-color);
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border: none;
  font-size: 1.2rem;
  background-color: var(--light-blue-400);
  box-shadow: 0px 0.5rem 1px var(--light-blue-500);
}

.again__reset {
  font-family: var(--font-barlow-bold);
  color: var(--white-color);
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border: none;
  font-size: 1.2rem;
  background-color: var(--gold-500);
  box-shadow: 0px 0.5rem 1px var(--gold-600);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__btn {
  font-family: var(--font-barlow-bold);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--white-color);
  border: 3px solid var(--white-color);
  background-color: transparent;
  padding: 1rem 3rem;
  border-radius: 10px;
}

.rules__container {
  position: absolute;
  background-color: var(--white-color);
  width: 100%;
  height: 0vh;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 50%);
  transition: all 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.active {
  height: 100vh;
}

.container__span {
  color: var(--navy-900-dark-text);
  font-family: var(--font-barlow-bold);
  text-transform: uppercase;
  font-size: 2rem;
}

.container__btn {
  order: 3;
  border: none;
  background-color: transparent;
}

@media (min-width: 1020px) {
  .rules__container {
    position: absolute;
    background-color: var(--white-color);
    width: 50%;
    height: 0vh;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 120%);
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    border-radius: 10px;
  }

  .active {
    height: 60vh;
  }
}
