/*fonts*/
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

/*vars*/
:root {
    --font-raleway:"Raleway";
    --bg: url(../img/resources/white-overlay.svg);
    --bg-color:rgb(240,240,240); 
    --shadow-card:rgb(220,220,220);
    --bg-element:rgb(255,255,255);
    --text-color-one:rgb(50,50,50);
    --text-color-two:rgb(150,150,150);
}

/*styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-raleway);
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 375px;
    background-color: var(--bg-color);
}

.container__card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    align-self: center;
    max-width: 500px;
    border-radius: 10px;
    background-color: var(--bg-element);
    position: relative;
    box-shadow: 0px 0px 40px 20px var(--shadow-card);
}

.card__bg {
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    border-radius: 10px;
}

.bg__wave {
    width: 100%;
    min-width: 320px;
    object-fit: cover;
    position: relative;
    top: -10%;
    transform: translate(0%,5%);
}

.bg__bg {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card__article {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3vh;
}

.article__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color-one);
}

.article__p {
    color: var(--text-color-two);
    font-size: 1.1rem;
    font-weight: 600;
}

.card__avatar {
    display: flex;
    justify-content: flex-start;
    padding: 2em;
    gap: 2vh;
}

.avatar__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info__name {
    color: var(--text-color-one);
    font-weight: 800;
}

.info__job {
    color: var(--text-color-two);
    font-weight: 800;
}

