/*fonts*/
@font-face {
  font-family: "LibreFranklin";
  src: url(../fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
  font-family: "LibreFranklinItalic";
  src: url(../fonts/Libre_Franklin/LibreFranklin-Italic-VariableFont_wght.ttf);
}

/*vars*/
:root {
  --blue-500: hsl(223, 87%, 63%);
  --blue-200: hsl(223, 100%, 88%);
  --red-400: hsl(354, 100%, 66%);
  --gray-400: hsl(0, 0%, 59%);
  --blue-950: hsl(209, 33%, 12%);
  --font-libre-franklin: "LibreFranklin";
  --font-libre-franklin-italic: "LibreFranklinItalic";
}

/*styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-libre-franklin);
}

.hidden {
  display: none !important;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 5em 2em 3em;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 60%;
  min-width: 30px;
  max-width: 80px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 2.5em;
  justify-content: space-evenly;
  gap: 7vh;
}

.main__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5vh;
  width: 100%;
  max-width: 400px;
  align-self: center;
}

.contact__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3vh;
  text-align: center;
}

.description__title {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--gray-400);
}

.title__strong {
  font-weight: bold;
  color: var(--blue-950);
}

.description__p {
  color: var(--blue-950);
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  gap: 2vh;
}

.form__input {
  padding: 1em;
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--gray-400);
}

.form__btn {
  cursor: pointer;
  padding: 1em;
  background-color: var(--blue-500);
  color: var(--blue-200);
  border-radius: 50px;
  border: none;
  font-weight: bold;
  box-shadow: 0px 5px 10px 1px var(--blue-200);
}

.main__bg {
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  align-self: center;
}

.bg__illustration {
  width: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2vw;
  padding: 5em 0;
  font-size: 1rem;
}

.footer__links {
  border-radius: 50%;
  border: 2px solid var(--gray-400);
  padding: 0.5em;
  transition: all 200ms ease-in-out;
}

.fa-brands {
  color: var(--blue-500);
  transition: all 200ms ease-in-out;
}

.footer__links:hover {
  background-color: var(--blue-500);
  border: 2px solid var(--blue-500);
}

.footer__links:hover>.fa-brands {
  color: var(--blue-200);
}

.form__alert {
  color: var(--red-400);
  text-align: center;
  font-size: 14px;
  font-family: var(--font-libre-franklin-italic);
}

.input__alert {
  border: 1px solid var(--red-400);
}

@media (min-width: 1024px) {
  .main__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vh;
    width: 100%;
    max-width: 700px;
    align-self: center;
  }

  .contact__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    gap: 2vh;
  }

  .form__input {
    order: 1;
    flex-grow: 2;
    padding: 1em;
    border-radius: 50px;
    outline: none;
    border: 1px solid var(--gray-400);
  }

  .form__btn {
    order: 2;
    flex-grow: 1;
    cursor: pointer;
    padding: 1em;
    background-color: var(--blue-500);
    color: var(--blue-200);
    border-radius: 50px;
    border: none;
    font-weight: bold;
    box-shadow: 0px 5px 10px 1px var(--blue-200);
  }

  .form__alert {
    order: 3;
    width: 100%;
    text-align: left;
    padding: 0em 1em;
  }
}
