@font-face {
  font-family: "BarlowSemiCondensed-Bold";
  src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
  font-family: "BarlowSemiCondensed-Medium";
  src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
  font-family: "BarlowSemiCondesed-Light";
  src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

:root {
  --gold-500: hsl(39, 89%, 49%);
  --gold-600: hsl(28, 76%, 44%);
  --blue-500: hsl(230, 89%, 62%);
  --blue-700: hsl(229, 64%, 46%);
  --red-600: hsl(349, 71%, 52%);
  --red-800: hsl(347, 75%, 35%);
  --purple-600: hsl(261, 73%, 60%);
  --purple-700: hsl(261, 51%, 44%);
  --light-blue-400: hsl(189, 59%, 53%);
  --light-blue-500: hsl(194, 58%, 42%);
  --navy-900-dark-text: hsl(229, 25%, 31%);
  --blue-700-score-text: hsl(229, 64%, 46%);
  --gray-600: hsl(246, 11%, 37%);
  --white: hsl(0, 0%, 100%);
  --background: radial-gradient(
    circle at center,
    hsl(214, 47%, 23%),
    hsl(237, 48%, 15%)
  );
  --font-barlow-bold: "BarlowSemiCondensed-Bold";
  --font-barlow-medium: "BarlowSemiCondensed-Medium";
  --font-barlow-light: "BarlowSemiCondesed-Light";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

body {
  width: 100%;
  height: 100dvh;
  background-image: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 350px;
  gap: 20dvh;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 3px solid var(--gray-600);
  padding: 0.5rem;
  max-width: 700px;
  border-radius: 10px;
  align-self: center;
}

.header__logo {
  width: 30%;
  min-width: 80px;
  max-width: 150px;
}

.logo__hero {
  width: 100%;
  object-fit: cover;
}

.header__scores {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 2vw;
  text-align: center;
}

.score__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1dvh;
  background-color: var(--white);
  padding: 0.5rem;
  border-radius: 10px;
}

.item__span {
  font-family: var(--font-barlow-bold);
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--blue-500);
}

.item__p {
  font-family: var(--font-barlow-bold);
  font-size: 2rem;
  color: var(--navy-900-dark-text);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  align-self: center;
}

.main__select {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10vw;
}

.wrap__img {
  background-color: var(--white);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap__blue {
  border: 0.9rem solid var(--blue-500);
  box-shadow: 0px 5px 1px 3px var(--blue-700);
  transition: all 200ms ease-in-out;
}

.wrap__blue:hover {
  box-shadow: 0px 0px 20px 1px var(--blue-500);
  transform: scale(1.1, 1.1);
}

.wrap__yellow {
  border: 0.9rem solid var(--gold-500);
  box-shadow: 0px 5px 1px 3px var(--gold-600);
  transition: all 200ms ease-in-out;
}

.wrap__yellow:hover {
  box-shadow: 0px 0px 20px 1px var(--gold-500);
  transform: scale(1.1, 1.1);
}

.wrap__red {
  border: 0.9rem solid var(--red-600);
  box-shadow: 0px 5px 1px 3px var(--red-800);
  transition: all 200ms ease-in-out;
}

.wrap__red:hover {
  box-shadow: 0px 0px 20px 1px var(--red-600);
  transform: scale(1.1, 1.1);
}

.img__hero {
  width: 50%;
  object-fit: cover;
}

.main__results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5dvh;
  width: 100%;
}

.wrap__picked:nth-of-type(1) {
  order: 1;
}

.wrap__picked:nth-of-type(2) {
  order: 2;
}

.result__message {
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4dvh;
  width: 100%;
}

.message__span {
  color: var(--white);
  font-family: var(--font-barlow-bold);
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
}

.message__btn, .message__btn-reset {
  color: var(--navy-900-dark-text);
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: var(--font-barlow-medium);
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__rules {
  background-color:transparent;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--font-barlow-bold);
  font-size: 2rem;
  border: 3px solid var(--white);
  border-radius: 10px;
  padding: 0.5rem 2rem;
}


